<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sensoy_Downloader.IndirmeAyar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Şensoy_Downloader.İndirmeAyar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Şensoy_Downloader.İndirme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Bu bölüm My.Application.Log için günlük yapılandırmasını tanımlar -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uygulama Olay Günlüğüne yazmak için alttaki bölümün açıklamasını kaldırın -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uygulama Olay Günlüğüne yazmak için alttaki bölümün açıklamasını kaldırın ve APPLICATION_NAME'ı uygulamanızın adı ile değiştirin -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Sensoy_Downloader.IndirmeAyar>
            <setting name="RetryDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EnFazlaAyniAndaIndirilecekSegmentSayisi" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="kod" serializeAs="String">
                <value />
            </setting>
            <setting name="kadi" serializeAs="String">
                <value />
            </setting>
            <setting name="sifre" serializeAs="String">
                <value />
            </setting>
            <setting name="sunucu" serializeAs="String">
                <value />
            </setting>
        </Sensoy_Downloader.IndirmeAyar>
        <Şensoy_Downloader.İndirmeAyar>
            <setting name="RetryDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="EnFazlaAynıAndaİndirilecekSegmentSayısı" serializeAs="String">
                <value>8</value>
            </setting>
        </Şensoy_Downloader.İndirmeAyar>
        <Şensoy_Downloader.İndirme>
            <setting name="RetryDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="EnFazlaAynıAndaİndirilecekSegmentSayısı" serializeAs="String">
                <value>3</value>
            </setting>
        </Şensoy_Downloader.İndirme>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
